ul.Meny{    
    /* "list-style-type: none;" gjør at det ikke kommer 
    prikker for hvert li */
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    margin-left:-8px;
    overflow: hidden;
    background-color: #322e2f;
    padding: 0;
}

.floatleft{
     float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Her er det som skjer hvis du holder musepekeren over a*/
li a:hover{
    color: #B8860B;
}
