body{
    background-color: #B8860B;
}

h1{
    text-align: center;
    margin-top: 60px;
}

h2{
    margin-left: 50px;
    text-decoration: underline;
    font-size:25px;
}

p{
    margin-left: 50px;
    font-size:20px;
}

.Bilde{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
li a:hover{
    color: #B8860B;
}